html {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

body {
  font-family: "Roboto", sans-serif;
  width: 100vw;
  height: 100%;
  overflow-x: hidden;

  margin: 0;
  padding: 0;
  color: black;

  & h2 {
    font-family: "Shrikhand", sans-serif;
  }
  & h3 {
    margin-left: 20px;
  }
  & h4 {
    font-weight: bolder;
    color: black;
    margin-bottom: 5px;
  }
}
